# man 3 readline

# from <https://wiki.archlinux.org/index.php/readline>
set editing-mode vi
$if mode=vi

$if Bash
# Quote the current or previous word
"\C-xq": "\ebi\"\eea\""
$endif

set keymap vi-command
# these are for vi-command mode
"\e[A": history-search-backward
"\e[B": history-search-forward

"\C-A": beginning-of-line
"\C-E": end-of-line

set keymap vi-insert
# these are for vi-insert mode
"\e[A": history-search-backward
"\e[B": history-search-forward

"\C-P": previous-history
"\C-N": next-history
"\C-L": clear-screen

"\C-A": beginning-of-line
"\C-E": end-of-line

"\C-K": kill-line

# pull up editor
"\C-Xe": "\ev"
$endif




# see <http://stackoverflow.com/questions/7179642/how-can-i-make-bash-tab-completion-behave-like-vim-tab-completion>
TAB: menu-complete
"\e[Z": menu-complete-backward
"\C-f": complete


